<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - wekad</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/wekad.styles.css" asp-append-version="true" />
</head>
<body>
     <!-- ===== HEADER ===== -->
    <header>
        <h2 class="logo">Vikad</h2>

        <nav id="navMenu">
            <a href="#" class="nav-item active">Home</a>
            <a href="#" class="nav-item">Services</a>
            <a href="#" class="nav-item">Portfolio</a>
            <a href="#" class="nav-item">About</a>
            <a href="#" class="nav-item">Contact</a>
        </nav>

        <!-- مثلث‌های سمت راست -->
        <div class="triangles">
            <div class="triangle t1"></div>
            <div class="triangle t2"></div>
            <div class="triangle t3"></div>
        </div>
    </header>
  
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
